* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

.contenedor-principal {
    width: 1262px;
    height: 2350px;
    border: 0px solid red;
}

.contenedor1 {
    margin-top: -12px;
    width: 1262px;
    height: 620px;
    border: 0px solid black;
    background-image: url(../img/palmera.jpg);
    background-size: cover;
}

.contenedor1 nav {
    width: 720px;
    height: 30px;
    border: 0px solid black;
    padding-top: 30px;
    margin-left: 462px;
}

.contenedor1 li {
    width: 150px;
    height: 30px;
    border: 0px solid black;
    float: left;
    font-size: 17px;
    text-align: center;
    margin-left: 25px;
    list-style: none;
    transition: 0.3s;
}

.contenedor1 li:hover {
    transform: scale(1.1);
}

.contenedor1 a {
    text-decoration: none;
    color: white;
}

.redes {
    width: 60px;
    height: 280px;
    margin-left: 1202px;
    border: 0px solid black;
}

.redes img {
    width: 60px;
    height: 60px;
    border: 0px solid black;
    margin-top: 20px;
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    -o-transition: 1s;
}

.redes img:hover {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.Descubre {
    width: 900px;
    height: 150px;
    border: 0px solid black;
    margin-top: -140px;
}

.Descubre h1 {
    width: 631px;
    height: 50px;
    border: 0px solid black;
    text-align: left;
    color: white;
    margin-left: 20px;
    font-size: 45px;
    letter-spacing: 3px;
    text-shadow: -2px 0px 0px rgba(9, 216, 255, 1);
    ;
}

.raya {
    width: 200px;
    height: 3px;
    margin-left: 20px;
    background-color: #00BCFF;
}

.Descubre p {
    width: 880px;
    margin-left: 20px;
    height: 60px;
    margin-top: 10px;
    font-size: 22px;
    font-family: 'Fira Sans Condensed', sans-serif;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1.6px white;
    text-shadow: 0px 2px 0px black;
    border: 0px solid black;
}

.texto-departamento {
    width: 1262px;
    height: 50px;
    border: 0px solid black;
}

.texto-departamento h2 {
    width: 100%;
    height: 100%;
    font-size: 45px;
    text-align: center;
    color: white;
    letter-spacing: 3px;
    text-shadow: -2px 0px 0px #FFD447;
}

.rayaAmarilla {
    width: 320px;
    height: 4px;
    background-color: #FFD447;
    margin-left: 470px;
}

.ContenedorDepartamentos {
    margin-top: 15px;
    width: 1262px;
    height: 360px;
    border: 0px solid green;
    display: flex;
    justify-content: space-around;
}

.Departamento img {
    width: 290px;
    height: 317px;
    border-radius: 8px;
    box-shadow: -7px 4px 13px -4px rgba(0, 0, 0, 0.75);
}

.Departamento p {
    width: 100px;
    height: 200px;
    border: 1px solid black;
    margin-top: -290px;
    font-size: 70px;
    margin-left: 6px;
    text-shadow: 2px 1px black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1.4px white;
}

.ContenedorDepartamentos2 {
    margin-top: 100px;
    width: 1262px;
    height: 1290px;
    display: flex;
    border: 0px solid black;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Departamentos1 img {
    width: 290px;
    height: 317px;
    border-radius: 8px;
    box-shadow: -7px 4px 13px -4px rgba(0, 0, 0, 0.75);
    margin-bottom: 10px;
}

.Departamentos1 p {
    width: 100px;
    height: 200px;
    position: absolute;
    margin-top: -290px;
    margin-left: 10px;
    font-size: 70px;
    color: white;
    text-shadow: 2px 1px black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1.6px white;
}

.contenedor3 {
    margin-top: 40px;
    width: 1262px;
    height: 230px;
}

.contenedor3 h2 {
    width: 100%;
    height: 50px;
    text-align: center;
    color: #00BCFF;
    font-size: 44px;
    text-shadow: 0px 2px 1px #FFD447;
}

.Descubre1 {
    display: flex;
    justify-content: space-around;
}

.Descubre1 img {
    width: 110px;
    height: 130px;
}

.restaurante p {
    padding-left: 60px;
}

.Descubre1 p {
    width: 110px;
    height: 20px;
    font-size: 22px;
    text-align: center;
}

footer {
    border: 0px solid black;
    width: 1263px;
    height: 70px;
    background-color: #FFEDB6;
}

footer p {
    font-size: 18px;
    width: 100%;
    height: 50px;
    border: 0px solid black;
    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    -webkit-text-fill-color: #696A6A;
    -webkit-text-stroke: 1.2px #696A6A;
    padding-top: 25px;
}


/* Responsiveeeeeeee */

@media only screen and (min-width: 375px) and (max-width: 413px) {
    .contenedor-principal {
        width: 100%;
        height: auto;
    }
    .contenedor1 {
        margin-top: -12px;
        width: 100%;
        height: 620px;
        background-image: url(../img/palmera.jpg);
        background-size: cover;
    }
    .contenedor1 nav {
        width: 100%;
        height: 30px;
        padding-top: 15px;
        margin-left: 0px;
    }
    .contenedor1 nav ul {
        display: flex;
    }
    .contenedor1 li {
        width: 100%;
        height: 20px;
        font-size: 17px;
        text-align: center;
        margin-left: 0px;
        list-style: none;
        transition: 0.3s;
    }
    .redes {
        width: 60px;
        height: 280px;
        margin-left: 82%;
    }
    .Descubre {
        width: 100%;
        height: 322px;
        margin-top: -140px;
    }
    .Descubre h1 {
        width: 82%;
        height: 50px;
        text-align: left;
        color: white;
        margin-left: 5px;
        font-size: 45px;
        letter-spacing: 3px;
        text-shadow: -2px 0px 0px rgba(9, 216, 255, 1);
    }
    .raya {
        width: 53%;
        height: 3px;
        margin-left: 5px;
        background-color: #00bcff;
    }
    .Descubre p {
        width: 80%;
        margin-left: 5px;
        height: 60px;
        margin-top: 42px;
        font-size: 22px;
        font-family: "Fira Sans Condensed", sans-serif;
        -webkit-text-fill-color: white;
        -webkit-text-stroke: 1.6px white;
        text-shadow: 0px 2px 0px black;
    }
    .texto-departamento {
        width: 100%;
        height: 50px;
    }
    .rayaAmarilla {
        width: 87%;
        height: 4px;
        background-color: #ffd447;
        margin-left: 27px;
    }
    .ContenedorDepartamentos {
        margin-top: 15px;
        width: 100%;
        height: 1075px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .ContenedorDepartamentos2 {
        margin-top: 1010px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .contenedor3 {
        margin-top: 40px;
        width: 100%;
        height: auto;
    }
    .contenedor3 h2 {
        width: 100%;
        height: auto;
        text-align: center;
        color: #00bcff;
        font-size: 44px;
        text-shadow: 0px 2px 1px #ffd447;
        margin-bottom: 80px;
    }
    .Descubre1 {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .Descubre1 p {
        width: 110px;
        height: 20px;
        font-size: 22px;
        text-align: center;
        margin-bottom: 25px;
    }
    footer {
        width: 100%;
        height: 70px;
        background-color: #ffedb6;
        margin-top: 10px;
    }
}


/* Responsiveeeeeeee */

@media only screen and (min-width: 414px) and (max-width: 453px) {
    .contenedor-principal {
        width: 100%;
        height: auto;
    }
    .contenedor1 {
        margin-top: -12px;
        width: 100%;
        height: 620px;
        background-image: url(../img/palmera.jpg);
        background-size: cover;
    }
    .contenedor1 nav {
        width: 100%;
        height: 30px;
        padding-top: 15px;
        margin-left: 0px;
    }
    .contenedor1 nav ul {
        display: flex;
    }
    .contenedor1 li {
        width: 100%;
        height: 20px;
        font-size: 17px;
        text-align: center;
        margin-left: 0px;
        list-style: none;
        transition: 0.3s;
    }
    .redes {
        width: 60px;
        height: 280px;
        margin-left: 82%;
    }
    .Descubre {
        width: 100%;
        height: 322px;
        margin-top: -140px;
    }
    .Descubre h1 {
        width: 100%;
        height: 50px;
        text-align: left;
        color: white;
        margin-left: 15px;
        font-size: 45px;
        letter-spacing: 3px;
        text-shadow: -2px 0px 0px rgba(9, 216, 255, 1);
    }
    .raya {
        width: 53%;
        height: 3px;
        margin-left: 15px;
        background-color: #00bcff;
    }
    .Descubre p {
        width: 80%;
        margin-left: 15px;
        height: 60px;
        margin-top: 42px;
        font-size: 22px;
        font-family: "Fira Sans Condensed", sans-serif;
        -webkit-text-fill-color: white;
        -webkit-text-stroke: 1.6px white;
        text-shadow: 0px 2px 0px black;
    }
    .texto-departamento {
        width: 100%;
        height: 50px;
    }
    .rayaAmarilla {
        width: 82%;
        height: 4px;
        background-color: #ffd447;
        margin-left: 46px;
    }
    .ContenedorDepartamentos {
        margin-top: 15px;
        width: 100%;
        height: 1075px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .ContenedorDepartamentos2 {
        margin-top: 1010px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .contenedor3 {
        margin-top: 40px;
        width: 100%;
        height: 651px;
    }
    .contenedor3 h2 {
        width: 100%;
        height: auto;
        text-align: center;
        color: #00bcff;
        font-size: 44px;
        text-shadow: 0px 2px 1px #ffd447;
        margin-bottom: 80px;
    }
    .Descubre1 {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .Descubre1 p {
        width: 110px;
        height: 20px;
        font-size: 22px;
        text-align: center;
        margin-bottom: 25px;
    }
    footer {
        width: 100%;
        height: 70px;
        background-color: #ffedb6;
        margin-top: 75px;
    }
}


/* Responsiveeeeeeee */

@media only screen and (min-width: 360px) and (max-width: 374px) {
    .contenedor-principal {
        width: 100%;
        height: auto;
    }
    .contenedor1 {
        margin-top: -12px;
        width: 100%;
        height: 620px;
        background-image: url(../img/palmera.jpg);
        background-size: cover;
    }
    .contenedor1 nav {
        width: 100%;
        height: 30px;
        padding-top: 15px;
        margin-left: 0px;
    }
    .contenedor1 nav ul {
        display: flex;
    }
    .contenedor1 li {
        width: 100%;
        height: 20px;
        font-size: 17px;
        text-align: center;
        margin-left: 0px;
        list-style: none;
        transition: 0.3s;
    }
    .redes {
        width: 60px;
        height: 280px;
        margin-left: 82%;
    }
    .Descubre {
        width: 100%;
        height: 322px;
        margin-top: -140px;
    }
    .Descubre h1 {
        width: 100%;
        height: 50px;
        text-align: left;
        color: white;
        margin-left: 5px;
        font-size: 45px;
        letter-spacing: 3px;
        text-shadow: -2px 0px 0px rgba(9, 216, 255, 1);
    }
    .raya {
        width: 53%;
        height: 3px;
        margin-left: 5px;
        background-color: #00bcff;
    }
    .Descubre p {
        width: 80%;
        margin-left: 5px;
        height: 60px;
        margin-top: 42px;
        font-size: 22px;
        font-family: "Fira Sans Condensed", sans-serif;
        -webkit-text-fill-color: white;
        -webkit-text-stroke: 1.6px white;
        text-shadow: 0px 2px 0px black;
    }
    .texto-departamento {
        width: 100%;
        height: 50px;
    }
    .rayaAmarilla {
        width: 82%;
        height: 4px;
        background-color: #ffd447;
        margin-left: 27px;
    }
    .ContenedorDepartamentos {
        margin-top: 15px;
        width: 100%;
        height: 1075px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .ContenedorDepartamentos2 {
        margin-top: 1010px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .contenedor3 {
        margin-top: 40px;
        width: 100%;
        height: 651px;
    }
    .contenedor3 h2 {
        width: 100%;
        height: auto;
        text-align: center;
        color: #00bcff;
        font-size: 44px;
        text-shadow: 0px 2px 1px #ffd447;
        margin-bottom: 80px;
    }
    .Descubre1 {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .Descubre1 p {
        width: 110px;
        height: 20px;
        font-size: 22px;
        text-align: center;
        margin-bottom: 25px;
    }
    footer {
        width: 100%;
        height: 70px;
        background-color: #ffedb6;
        margin-top: 75px;
    }
}


/* Responsiveeeeeeeeeeeeee gus */

@media only screen and (min-width: 285px) and (max-width: 359px){

    .contenedor-principal {
        width: 100%;
        height: auto;
    }
    .contenedor1 {
        margin-top: -12px;
        width: 100%;
        height: 620px;
        background-image: url(../img/palmera.jpg);
        background-size: cover;
    }
    .contenedor1 nav {
        width: 100%;
        height: 30px;
        padding-top: 15px;
        margin-left: -8px;
    }
    .contenedor1 nav ul {
        display: flex;
    }
    .contenedor1 li {
        width: 100%;
        height: 20px;
        font-size: 17px;
        text-align: center;
        margin-left: 5px;
        list-style: none;
        transition: 0.3s;
    }
    .redes {
        width: 60px;
        height: 280px;
        margin-left: 82%;
    }
    .Descubre {
        width: 100%;
        height: 322px;
        margin-top: -140px;
    }
    .Descubre h1 {
        width: 100%;
        height: 50px;
        text-align: left;
        color: white;
        margin-left: 5px;
        font-size: 45px;
        letter-spacing: 3px;
        text-shadow: -2px 0px 0px rgba(9, 216, 255, 1);
    }
    .raya {
        width: 53%;
        height: 3px;
        margin-left: 5px;
        background-color: #00bcff;
    }
    .Descubre p {
        width: 80%;
        margin-left: 5px;
        height: 60px;
        margin-top: 42px;
        font-size: 22px;
        font-family: "Fira Sans Condensed", sans-serif;
        -webkit-text-fill-color: white;
        -webkit-text-stroke: 1.6px white;
        text-shadow: 0px 2px 0px black;
    }
    .texto-departamento {
        width: 100%;
        height: 50px;
    }
    .rayaAmarilla {
        width: 82%;
        height: 4px;
        background-color: #ffd447;
        margin-left: 27px;
    }
    .ContenedorDepartamentos {
        margin-top: 15px;
        width: 100%;
        height: 1075px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .ContenedorDepartamentos2 {
        margin-top: 1010px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .contenedor3 {
        margin-top: 40px;
        width: 100%;
        height: 651px;
    }
    .contenedor3 h2 {
        width: 100%;
        height: auto;
        text-align: center;
        color: #00bcff;
        font-size: 44px;
        text-shadow: 0px 2px 1px #ffd447;
        margin-bottom: 80px;
    }
    .Descubre1 {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .Descubre1 p {
        width: 110px;
        height: 20px;
        font-size: 22px;
        text-align: center;
        margin-bottom: 25px;
    }
    footer {
        width: 100%;
        height: 70px;
        background-color: #ffedb6;
        margin-top: 130px;
    }
}
